.btn {
    display: inline-block;
    padding: 10px;
    width: 180px;
    color: #fefefe;
    font-weight: bold;
    border-radius: 4px;
}

.btn-transparent {
    border: 1px #fefefe solid;
    background-color: transparent;
}

#btn-trans-first:hover {
    color: black;
    border: 1px #ffd700 solid;
    background-color: #ffd700;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

#btn-trans-last:hover {
    color: black;
    border: 1px #fff93a solid;
    background-color: #fff93a;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.btn-solid {
    color: black;
    border: 1px #ffd700 solid;
    background-color: #ffd700;
}

.btn-solid:hover {
    color: black;
    border: 1px #fff93a solid;
    background-color: #fff93a;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.hero .btn-transparent {
    margin-right: 25px;
}

