.reviews .col{
    padding: 40px 0;
}

.form-line {
    margin: 8px auto;
    width: 60%;
}


.reviews-form .field {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    
}

.field {
    border: 1px solid grey;
}

.field:focus {
    box-shadow: 0px 0px 0px 1px #eee;
}

.reviews-form textarea {
    display: block;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 100%;
    height: 80px;
}

.reviews-form label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
 }

.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.reviews .col-1-of-2 {
    background-color: #222222;
    color: #f7f7f7;
}

.comment {
    line-height: 1.6;
}

.comment p{
    margin: 12px auto;
    
    width: 50%;
}
.comment p span{
    color: gold;
}

.comment p:first-child {
    
    font-weight: bold;
}